@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.shadow-button {
  box-shadow: 0 3px 5px rgb(43, 63, 108, 0.8);
}

.sections::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: none;
}

.sections::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: rgba(205, 212, 238, 0.5);
}

.sections::-webkit-scrollbar-thumb {
  background: #e0cbcb;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.sections::-webkit-scrollbar-thumb:hover {
  background: red;
}